{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        {% block title %}<h2 style="text-align: center;">Login</h2>{% endblock %}
        <form method="POST">
            {{form.hidden_tag()}}
            <br><br>
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control")}}
            {{form.password.label(class="form-label")}}
            {{form.password(class="form-control")}}<br><br>
            {{form.submit(class="btn btn-primary")}}
        </form>
    </div>
</div>
{% endblock %}